body {
    font-family: Roboto, system-ui, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

nav > li {
    list-style-type: none;
    margin: 7px;
    padding: 7px;
    padding-right: 12px;
    float: right;
    font-size: 12px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 20px 15px 20px;
    color: #202124;
    font-size: 14px;
    background: #f2f2f2;

}

footer a {
    text-decoration: underline;
}

#footer-text {
    opacity: .7;
    margin: 3px;
}

a {
    color: #202124;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* ***Google Basic Search and Images Search pages*** */

.search-container {
    padding-top: 180px;
    text-align: -webkit-center;
    justify-content: center;
}

.page-title {
    font-size: 50px;
    font-family: 'Google Sans Text', sans-serif;
    color: #202124;
    width: 100%;
    margin-bottom: 32px;
}

.page-title .large-letter {
    font-size: 65px;
}

.page-title .letter-blue {
    color: #4285F4;
}

.page-title .letter-red  {
    color: #DB4437;
}

.page-title .letter-yellow {
    color: #F4B400;
}

.page-title .letter-green {
    color: #0F9D58;
}

.page-title span {
    margin: -6px;
}

.search-bar-wrapper {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.search-bar-wrapper .search-bar {
    height: 28px;
    width: 475px;
    padding: 5px 8px 4px 40px;
    font-size: 14px;
    background: #fff;
    background: url('magnifying-glass-solid.svg');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: rgba(255, 122, 89, .5);
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-buttons {
    padding-top: 20px;
}

.search-buttons input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 12.5px;
    margin: 7px 2px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
}

.search-buttons input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* ***Google Advanced Search page*** */

#advanced-search-container {
    padding-left: 32px;
    width: 100%;
    display: block;
    overflow: hidden;
}

#advanced-search-title {
    padding-bottom: 50px;
    color: #d93025;
    font-size: 18px;
    font-weight: 450;
}

#advanced-search-subheading {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.row {
    padding-bottom: 10px;
}

.row .query-type {
    float: left;
    width: 12%;
    color: #222;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}

.row .advanced-search-box {
    height: 22px;
    width: 35.5%;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding-left: 7px;
    font-size: 12px;
}

#advanced-search-button {
    margin: 11px 530px;
    padding: 0px 8px 0px 8px;
    height: 28px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
}
